Repository ROCm/rocSOLVER, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd, @ROCm/rocm-documentation

Empty small-size kernel for larf
  library/src/CMakeLists.txt
  library/src/auxiliary/rocauxiliary_larf.hpp
  library/src/include/ideal_sizes.hpp
  library/src/include/rocsolver_run_specialized_kernels.hpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels.hpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_c.cpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_d.cpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_s.cpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_z.cpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Hotfix: Update static rocprim dependency with correct name (#738)
  CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Apply review comments
  clients/common/containers/d_vector.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

c++ version of lartg
  library/src/auxiliary/rocauxiliary_bdsqr_host.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

c++ version of lasr
  library/src/auxiliary/rocauxiliary_bdsqr_host.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Update changelog to mention the `stebz` synchronization defect (#752)
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Update changelog to mention the `stebz` synchronization defect (#752)
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Update changelog to mention the `stebz` synchronization defect (#752)
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

add restrict hint to lasr
  library/src/auxiliary/rocauxiliary_bdsqr_host.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Make sure containers used in clients are zero-initialized (#746)
  clients/common/containers/d_vector.hpp
  clients/common/containers/host_strided_batch_vector.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Make sure containers used in clients are zero-initialized (#746)
  clients/common/containers/d_vector.hpp
  clients/common/containers/host_strided_batch_vector.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

minor change
  library/src/auxiliary/rocauxiliary_bdsqr_host.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Basic implementation of small-size kernel for larf
  library/src/include/rocsolver_run_specialized_kernels.hpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Improved implementation of small-size kernel for larf
  library/src/specialized/rocauxiliary_larf_specialized_kernels.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Fix memory allocation issues in Jacobi solvers
  library/src/lapack/roclapack_syevj_heevj.cpp
  library/src/lapack/roclapack_syevj_heevj_batched.cpp
  library/src/lapack/roclapack_syevj_heevj_strided_batched.cpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Docs: fix links in installation and types guides (#708)
  docs/howto/index.rst
  docs/index.rst
  docs/installation/installlinux.rst
  docs/reference/types.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Docs pick 6.2 (#756)
  .readthedocs.yaml
  docs/howto/index.rst
  docs/index.rst
  docs/installation/installlinux.rst
  docs/reference/types.rst
  docs/sphinx/_toc.yml.in
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd, @ROCm/rocm-documentation

Fix memory allocation issues in Jacobi solvers (#755)
  library/src/lapack/roclapack_syevj_heevj.cpp
  library/src/lapack/roclapack_syevj_heevj_batched.cpp
  library/src/lapack/roclapack_syevj_heevj_strided_batched.cpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Fix memory allocation issues in Jacobi solvers (#755)
  library/src/lapack/roclapack_syevj_heevj.cpp
  library/src/lapack/roclapack_syevj_heevj_batched.cpp
  library/src/lapack/roclapack_syevj_heevj_strided_batched.cpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Fixed workspace issues
  library/src/auxiliary/rocauxiliary_larf.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Increased size constants
  library/src/include/ideal_sizes.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Fix memory allocation issues in Jacobi solvers (#755)
  library/src/lapack/roclapack_syevj_heevj.cpp
  library/src/lapack/roclapack_syevj_heevj_batched.cpp
  library/src/lapack/roclapack_syevj_heevj_strided_batched.cpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Updated changelog
  CHANGELOG.md
  library/src/include/ideal_sizes.hpp
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Use std::min and std::max
  clients/common/auxiliary/testing_bdsqr.hpp
  clients/common/auxiliary/testing_labrd.hpp
  clients/common/auxiliary/testing_orgbr_ungbr.hpp
  clients/common/auxiliary/testing_orgtr_ungtr.hpp
  clients/common/auxiliary/testing_ormbr_unmbr.hpp
  clients/common/auxiliary/testing_ormlx_unmlx.hpp
  clients/common/auxiliary/testing_ormxl_unmxl.hpp
  clients/common/auxiliary/testing_ormxr_unmxr.hpp
  clients/common/lapack/testing_gebd2_gebrd.hpp
  clients/common/lapack/testing_geblttrf_npvt_interleaved.hpp
  clients/common/lapack/testing_geblttrs_npvt_interleaved.hpp
  clients/common/lapack/testing_gels.hpp
  clients/common/lapack/testing_gels_outofplace.hpp
  clients/common/lapack/testing_gesvd.hpp
  clients/common/lapack/testing_gesvdj.hpp
  clients/common/lapack/testing_gesvdj_notransv.hpp
  clients/common/lapack/testing_gesvdx.hpp
  clients/common/lapack/testing_gesvdx_notransv.hpp
  clients/gtest/testing_managed_malloc.hpp
  common/include/common_host_helpers.hpp
  library/src/auxiliary/rocauxiliary_stedcj.hpp
  library/src/include/lapack_device_functions.hpp
  library/src/include/lib_device_helpers.hpp
  library/src/lapack/roclapack_syevx_heevx.hpp
  library/src/lapack/roclapack_sygvdx_hegvdx.hpp
  library/src/lapack/roclapack_sygvdx_hegvdx_inplace.hpp
  library/src/refact/rocrefact_csrrf_splitlu.hpp
  library/src/specialized/roclapack_getf2_specialized_kernels.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Updates to types and index
  docs/index.rst
  docs/installation/installlinux.rst
  docs/reference/types.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Add quick fix for Jacobi cycle-pairs method
  library/src/lapack/roclapack_syevj_heevj.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Tidy-up code
  library/src/lapack/roclapack_syevj_heevj.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Apply clang-format
  library/src/lapack/roclapack_syevj_heevj.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Update static rocprim dependency with correct name (#745)
  CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Update static rocprim dependency with correct name (#745)
  CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

add lacgv_64
  clients/common/auxiliary/testing_lacgv.cpp
  clients/common/auxiliary/testing_lacgv.hpp
  clients/common/misc/clients_utility.hpp
  clients/common/misc/rocsolver.hpp
  clients/common/misc/rocsolver_dispatcher.hpp
  clients/gtest/auxiliary/lacgv_gtest.cpp
  library/src/auxiliary/rocauxiliary_lacgv.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

simplify template parameters
  clients/common/auxiliary/testing_larf.cpp
  clients/common/auxiliary/testing_larf.hpp
  clients/common/auxiliary/testing_larfg.cpp
  clients/common/auxiliary/testing_larfg.hpp
  clients/common/misc/rocsolver.hpp
  clients/common/misc/rocsolver_dispatcher.hpp
  clients/gtest/auxiliary/lacgv_gtest.cpp
  clients/gtest/auxiliary/larf_gtest.cpp
  clients/gtest/auxiliary/larfg_gtest.cpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Use fmax for floating point values
  library/src/include/lapack_device_functions.hpp
  library/src/include/lib_device_helpers.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Use std::min and std::max (#760)
  clients/common/auxiliary/testing_bdsqr.hpp
  clients/common/auxiliary/testing_labrd.hpp
  clients/common/auxiliary/testing_orgbr_ungbr.hpp
  clients/common/auxiliary/testing_orgtr_ungtr.hpp
  clients/common/auxiliary/testing_ormbr_unmbr.hpp
  clients/common/auxiliary/testing_ormlx_unmlx.hpp
  clients/common/auxiliary/testing_ormxl_unmxl.hpp
  clients/common/auxiliary/testing_ormxr_unmxr.hpp
  clients/common/lapack/testing_gebd2_gebrd.hpp
  clients/common/lapack/testing_geblttrf_npvt_interleaved.hpp
  clients/common/lapack/testing_geblttrs_npvt_interleaved.hpp
  clients/common/lapack/testing_gels.hpp
  clients/common/lapack/testing_gels_outofplace.hpp
  clients/common/lapack/testing_gesvd.hpp
  clients/common/lapack/testing_gesvdj.hpp
  clients/common/lapack/testing_gesvdj_notransv.hpp
  clients/common/lapack/testing_gesvdx.hpp
  clients/common/lapack/testing_gesvdx_notransv.hpp
  clients/gtest/testing_managed_malloc.hpp
  common/include/common_host_helpers.hpp
  library/src/auxiliary/rocauxiliary_stedcj.hpp
  library/src/include/lapack_device_functions.hpp
  library/src/include/lib_device_helpers.hpp
  library/src/lapack/roclapack_syevx_heevx.hpp
  library/src/lapack/roclapack_sygvdx_hegvdx.hpp
  library/src/lapack/roclapack_sygvdx_hegvdx_inplace.hpp
  library/src/refact/rocrefact_csrrf_splitlu.hpp
  library/src/specialized/roclapack_getf2_specialized_kernels.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Use std::min and std::max (#760)
  clients/common/auxiliary/testing_bdsqr.hpp
  clients/common/auxiliary/testing_labrd.hpp
  clients/common/auxiliary/testing_orgbr_ungbr.hpp
  clients/common/auxiliary/testing_orgtr_ungtr.hpp
  clients/common/auxiliary/testing_ormbr_unmbr.hpp
  clients/common/auxiliary/testing_ormlx_unmlx.hpp
  clients/common/auxiliary/testing_ormxl_unmxl.hpp
  clients/common/auxiliary/testing_ormxr_unmxr.hpp
  clients/common/lapack/testing_gebd2_gebrd.hpp
  clients/common/lapack/testing_geblttrf_npvt_interleaved.hpp
  clients/common/lapack/testing_geblttrs_npvt_interleaved.hpp
  clients/common/lapack/testing_gels.hpp
  clients/common/lapack/testing_gels_outofplace.hpp
  clients/common/lapack/testing_gesvd.hpp
  clients/common/lapack/testing_gesvdj.hpp
  clients/common/lapack/testing_gesvdj_notransv.hpp
  clients/common/lapack/testing_gesvdx.hpp
  clients/common/lapack/testing_gesvdx_notransv.hpp
  clients/gtest/testing_managed_malloc.hpp
  common/include/common_host_helpers.hpp
  library/src/auxiliary/rocauxiliary_stedcj.hpp
  library/src/include/lapack_device_functions.hpp
  library/src/include/lib_device_helpers.hpp
  library/src/lapack/roclapack_syevx_heevx.hpp
  library/src/lapack/roclapack_sygvdx_hegvdx.hpp
  library/src/lapack/roclapack_sygvdx_hegvdx_inplace.hpp
  library/src/refact/rocrefact_csrrf_splitlu.hpp
  library/src/specialized/roclapack_getf2_specialized_kernels.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

add gfx12 support (#751)
  CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

add gfx12 support (#751)
  CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Updates to types and index (#761)
  docs/index.rst
  docs/installation/installlinux.rst
  docs/reference/types.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Updates to types and index (#761)
  docs/index.rst
  docs/installation/installlinux.rst
  docs/reference/types.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Restore old method in a desperate attempt to make git produce useful diffs
  library/src/lapack/roclapack_syevj_heevj.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

.github/CODEOWNERS:

* @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd
# Documentation files
docs/* @ROCm/rocm-documentation @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd
*.md @ROCm/rocm-documentation @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd
*.rst @ROCm/rocm-documentation @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd
# Header directory for Doxygen documentation
library/include/* @ROCm/rocm-documentation @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd
