Repository ROCm/rocSOLVER, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd, @ROCm/rocm-documentation

Update rocblas_test.hpp to build with libfmt 11.0.1
  clients/rocblascommon/rocblas_test.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Update client.cpp to build with libfmt 11.0.1
  clients/benchmarks/client.cpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Apply review comments.
  library/src/lapack/roclapack_syevj_heevj.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

modify test coverage, remove unused code
  clients/common/auxiliary/testing_lacgv.hpp
  clients/common/misc/client_util.hpp
  clients/common/misc/clients_utility.hpp
  clients/gtest/auxiliary/lacgv_gtest.cpp
  clients/gtest/auxiliary/larf_gtest.cpp
  clients/gtest/auxiliary/larfg_gtest.cpp
  docs/reference/auxiliary.rst
  library/src/auxiliary/rocauxiliary_larfg.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd, @ROCm/rocm-documentation

Copy DLLs to rocsolver-test directory
  clients/gtest/CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Default BUILD_WITH_SPARSE to ON for static library
  CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Use COMMAND_EXPAND_LISTS option
  clients/gtest/CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Fix Tensile directory copy
  clients/gtest/CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

use gemm in larft
  library/src/auxiliary/rocauxiliary_larft.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Add small fix and tidy-up code
  library/src/lapack/roclapack_syevj_heevj.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Fix path to Tensile library
  clients/gtest/CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Stick with foreach for extra runtime files
  clients/gtest/CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Limit CMake 3.21 version requirement to Windows tests
  CMakeLists.txt
  clients/gtest/CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Fix jacobi cycle-sync (#762)
  library/src/lapack/roclapack_syevj_heevj.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Fix jacobi cycle-sync (#762)
  library/src/lapack/roclapack_syevj_heevj.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Fix jacobi cycle-sync (#762)
  library/src/lapack/roclapack_syevj_heevj.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Use CMAKE_DL_LIBS for dlopen library
  library/src/CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Update changelog
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Update install documentation
  docs/installation/installlinux.rst
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Add 64-bit versions of lacgv, larf, and larfg (#747)
  CHANGELOG.md
  clients/common/auxiliary/testing_lacgv.cpp
  clients/common/auxiliary/testing_lacgv.hpp
  clients/common/auxiliary/testing_larf.cpp
  clients/common/auxiliary/testing_larf.hpp
  clients/common/auxiliary/testing_larfg.cpp
  clients/common/auxiliary/testing_larfg.hpp
  clients/common/misc/rocsolver.hpp
  clients/common/misc/rocsolver_dispatcher.hpp
  clients/gtest/auxiliary/lacgv_gtest.cpp
  clients/gtest/auxiliary/larf_gtest.cpp
  clients/gtest/auxiliary/larfg_gtest.cpp
  docs/reference/auxiliary.rst
  library/include/rocsolver/rocsolver-functions.h
  library/src/auxiliary/rocauxiliary_lacgv.cpp
  library/src/auxiliary/rocauxiliary_lacgv.hpp
  library/src/auxiliary/rocauxiliary_larf.cpp
  library/src/auxiliary/rocauxiliary_larf.hpp
  library/src/auxiliary/rocauxiliary_larfg.cpp
  library/src/auxiliary/rocauxiliary_larfg.hpp
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Add 64-bit versions of lacgv, larf, and larfg (#747)
  CHANGELOG.md
  clients/common/auxiliary/testing_lacgv.cpp
  clients/common/auxiliary/testing_lacgv.hpp
  clients/common/auxiliary/testing_larf.cpp
  clients/common/auxiliary/testing_larf.hpp
  clients/common/auxiliary/testing_larfg.cpp
  clients/common/auxiliary/testing_larfg.hpp
  clients/common/misc/rocsolver.hpp
  clients/common/misc/rocsolver_dispatcher.hpp
  clients/gtest/auxiliary/lacgv_gtest.cpp
  clients/gtest/auxiliary/larf_gtest.cpp
  clients/gtest/auxiliary/larfg_gtest.cpp
  docs/reference/auxiliary.rst
  library/include/rocsolver/rocsolver-functions.h
  library/src/auxiliary/rocauxiliary_lacgv.cpp
  library/src/auxiliary/rocauxiliary_lacgv.hpp
  library/src/auxiliary/rocauxiliary_larf.cpp
  library/src/auxiliary/rocauxiliary_larf.hpp
  library/src/auxiliary/rocauxiliary_larfg.cpp
  library/src/auxiliary/rocauxiliary_larfg.hpp
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Clarify windows error handling
  library/src/refact/rocsolver_rfinfo.cpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Address code review comment
  library/src/refact/rocsolver_rfinfo.cpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Use rocBLAS gemm_64
  library/src/include/rocblas.hpp
  library/src/specialized/roclapack_gemm_specialized_kernels.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

External CI: Add triggers for mainline branch
  .azuredevops/rocm-ci.yml
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

External CI: Add triggers for mainline branch
  .azuredevops/rocm-ci.yml
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Fix failures in latrd and sytd2
  library/src/auxiliary/rocauxiliary_latrd.hpp
  library/src/lapack/roclapack_sytd2_hetd2.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

add 64-bit geqrf
  clients/common/lapack/testing_geqr2_geqrf.cpp
  clients/common/lapack/testing_geqr2_geqrf.hpp
  clients/common/misc/rocsolver_dispatcher.hpp
  clients/gtest/lapack/geqr2_geqrf_gtest.cpp
  library/include/rocsolver/rocsolver-functions.h
  library/src/auxiliary/rocauxiliary_labrd.hpp
  library/src/auxiliary/rocauxiliary_orm2l_unm2l.hpp
  library/src/auxiliary/rocauxiliary_orm2r_unm2r.hpp
  library/src/auxiliary/rocauxiliary_orml2_unml2.hpp
  library/src/include/lib_device_helpers.hpp
  library/src/lapack/roclapack_gebd2.hpp
  library/src/lapack/roclapack_gebrd.hpp
  library/src/lapack/roclapack_gelq2.hpp
  library/src/lapack/roclapack_geql2.hpp
  library/src/lapack/roclapack_geqr2.cpp
  library/src/lapack/roclapack_geqr2.hpp
  library/src/lapack/roclapack_geqrf.cpp
  library/src/lapack/roclapack_geqrf.hpp
  library/src/lapack/roclapack_geqrf_strided_batched.cpp
  library/src/lapack/roclapack_gerq2.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

update changelog and docs
  CHANGELOG.md
  docs/reference/lapack.rst
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

make new 64-bit APIs optional
  library/src/auxiliary/rocauxiliary_lacgv.cpp
  library/src/auxiliary/rocauxiliary_larf.cpp
  library/src/auxiliary/rocauxiliary_larfg.cpp
  library/src/lapack/roclapack_geqr2.cpp
  library/src/lapack/roclapack_geqrf.cpp
  library/src/lapack/roclapack_geqrf_strided_batched.cpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Added small-size larfg and larf kernels (#759)
  CHANGELOG.md
  library/src/CMakeLists.txt
  library/src/auxiliary/rocauxiliary_larf.hpp
  library/src/auxiliary/rocauxiliary_larfg.hpp
  library/src/auxiliary/rocauxiliary_latrd.hpp
  library/src/include/ideal_sizes.hpp
  library/src/include/lapack_device_functions.hpp
  library/src/include/lib_device_helpers.hpp
  library/src/include/rocsolver_run_specialized_kernels.hpp
  library/src/lapack/roclapack_geqr2.hpp
  library/src/lapack/roclapack_sytd2_hetd2.hpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels.hpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_c.cpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_d.cpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_s.cpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_z.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels.hpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_c.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_d.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_s.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_z.cpp
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Added small-size larfg and larf kernels (#759)
  CHANGELOG.md
  library/src/CMakeLists.txt
  library/src/auxiliary/rocauxiliary_larf.hpp
  library/src/auxiliary/rocauxiliary_larfg.hpp
  library/src/auxiliary/rocauxiliary_latrd.hpp
  library/src/include/ideal_sizes.hpp
  library/src/include/lapack_device_functions.hpp
  library/src/include/lib_device_helpers.hpp
  library/src/include/rocsolver_run_specialized_kernels.hpp
  library/src/lapack/roclapack_geqr2.hpp
  library/src/lapack/roclapack_sytd2_hetd2.hpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels.hpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_c.cpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_d.cpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_s.cpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_z.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels.hpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_c.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_d.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_s.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_z.cpp
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Add install.sh --no-sparse option
  install.sh
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Add rocsparse to recommends or suggests
  CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Drop use of f16c instructions
  clients/benchmarks/CMakeLists.txt
  clients/gtest/CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Addressed review comment
  library/src/include/rocblas.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Implement review comments
  library/src/auxiliary/rocauxiliary_stein.hpp
  library/src/include/rocsolver_prng.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Apply clang-format
  library/src/auxiliary/rocauxiliary_stein.hpp
  library/src/include/rocsolver_prng.hpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Revert "Added small-size larfg and larf kernels (#759)"
  CHANGELOG.md
  library/src/CMakeLists.txt
  library/src/auxiliary/rocauxiliary_larf.hpp
  library/src/auxiliary/rocauxiliary_larfg.hpp
  library/src/auxiliary/rocauxiliary_latrd.hpp
  library/src/include/ideal_sizes.hpp
  library/src/include/lapack_device_functions.hpp
  library/src/include/lib_device_helpers.hpp
  library/src/include/rocsolver_run_specialized_kernels.hpp
  library/src/lapack/roclapack_geqr2.hpp
  library/src/lapack/roclapack_sytd2_hetd2.hpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels.hpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_c.cpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_d.cpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_s.cpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_z.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels.hpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_c.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_d.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_s.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_z.cpp
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Change order of tests
  clients/CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

.github/CODEOWNERS:

* @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd
# Documentation files
docs/* @ROCm/rocm-documentation @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd
*.md @ROCm/rocm-documentation @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd
*.rst @ROCm/rocm-documentation @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd
# Header directory for Doxygen documentation
library/include/* @ROCm/rocm-documentation @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd
