Repository ROCm/rocSOLVER, pull requests merged in 2024-08, with the labels that each got.

#714 Fix stein initial eigenvectors' choices
  library/src/auxiliary/rocauxiliary_stein.hpp
  library/src/include/rocsolver_prng.hpp
Labels: noOptimizations

#777 Fix dead link to .pdf that does not exist
  docs/howto/memory.rst
Labels: ci:docs-only

#779 Fix dead link to .pdf that does not exist
  docs/howto/memory.rst
Labels: ci:docs-only

#781 Fix dead link to .pdf that does not exist
  docs/howto/memory.rst
Labels: ci:docs-only

#782 Fix dead link to .pdf that does not exist
  docs/howto/memory.rst
Labels: ci:docs-only

#780 Fix dead link to .pdf that does not exist
  docs/howto/memory.rst
Labels: ci:docs-only

#783 Fix dead link to .pdf that does not exist
  docs/howto/memory.rst
Labels: ci:docs-only

#717 Multikernel option for bdsqr optimization
  CHANGELOG.md
  common/include/common_host_helpers.hpp
  library/include/rocsolver/rocsolver-functions.h
  library/src/auxiliary/rocauxiliary_bdsqr.cpp
  library/src/auxiliary/rocauxiliary_bdsqr.hpp
  library/src/include/ideal_sizes.hpp
  library/src/include/lapack_device_functions.hpp
  library/src/lapack/roclapack_gesvd.hpp
Labels: noOptimizations

#774 Added small-size larfg and larf kernels (limited architectures)
  CHANGELOG.md
  library/src/CMakeLists.txt
  library/src/auxiliary/rocauxiliary_larf.hpp
  library/src/auxiliary/rocauxiliary_larfg.cpp
  library/src/auxiliary/rocauxiliary_larfg.hpp
  library/src/auxiliary/rocauxiliary_latrd.hpp
  library/src/include/ideal_sizes.hpp
  library/src/include/lapack_device_functions.hpp
  library/src/include/lib_device_helpers.hpp
  library/src/include/rocsolver_run_specialized_kernels.hpp
  library/src/lapack/roclapack_geqr2.hpp
  library/src/lapack/roclapack_sytd2_hetd2.hpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels.hpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_c.cpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_d.cpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_s.cpp
  library/src/specialized/rocauxiliary_larf_specialized_kernels_z.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels.hpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_c.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_d.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_s.cpp
  library/src/specialized/rocauxiliary_larfg_specialized_kernels_z.cpp
Labels: noOptimizations

#787 Fix link to rocBLAS API
  docs/howto/memory.rst
Labels: ci:docs-only

#789 Fix link to rocBLAS API: cherry pick to rocm-rel-6.2
  docs/howto/memory.rst
Labels: ci:docs-only

#793 Fix link to rocBLAS API: cherry pick to docs 6.1.0
  docs/howto/memory.rst
Labels: ci:docs-only

#791 Rocblas api fix docs612: cherry pick to docs 6.1.2
  docs/howto/memory.rst
Labels: ci:docs-only

#790 Fix link to rocBLAS API: cherry pick to docs 6.2.0
  docs/howto/memory.rst
Labels: ci:docs-only

#786 STEDC optimizations
  CHANGELOG.md
  library/src/auxiliary/rocauxiliary_stedc.hpp
  library/src/auxiliary/rocauxiliary_stedcj.hpp
  library/src/auxiliary/rocauxiliary_stedcx.hpp
Labels: noOptimizations

#794 Revert "Update changelog to mention the `stebz` synchronization defect (#752)"
  CHANGELOG.md
Labels: ci:docs-only

#795 Update changelog in preparation for the 6.3 release
  CHANGELOG.md
Labels: ci:docs-only

#788 Add helper methods to simplify writing and debugging tests (part 1)
  clients/CMakeLists.txt
  clients/common/lapack/testing_syevx_heevx.hpp
  clients/common/matrix_utils/host_matrix.cpp
  clients/common/matrix_utils/host_matrix.hpp
  clients/common/matrix_utils/matrix_interface.hpp
  clients/common/matrix_utils/matrix_utils.cpp
  clients/common/matrix_utils/matrix_utils.hpp
  clients/common/matrix_utils/matrix_utils_detail.cpp
  clients/common/matrix_utils/matrix_utils_detail.hpp
Labels: noOptimizations

#796 bump versions and prepare changelog for new dev cycle
  CHANGELOG.md
  CMakeLists.txt
  bump_rocsolver_version.sh
  library/CMakeLists.txt
Labels: noOptimizations

#801 Add option to skip sparse on pull requests
  .jenkins/common.groovy
Labels: noOptimizations, noExtendedCI

#803 Fix some links to the rocBLAS memory alloc API
  docs/howto/memory.rst
Labels: ci:docs-only

#785 Add support for Azure Linux
  CMakeLists.txt
Labels: noOptimizations, noExtendedCI

#809 Cherry pick to docs/6.2.0: Fix some links to the rocBLAS memory alloc API (#803)
  docs/howto/memory.rst
Labels: ci:docs-only
