Repository ROCm/rocSOLVER, pull requests merged in 2024-09, with the labels that each got.

#811 Add support for Azure Linux (#785)
  CMakeLists.txt
Labels: noOptimizations, noExtendedCI

#812 Add gfx1151 to default targets (#804)
  CMakeLists.txt
Labels: noExtendedCI

#813 Fixed a broken link to the rocBLAS logging page.
  docs/howto/logging.rst
Labels: ci:docs-only, documentation

#808 Cherry pick to rocm-rel-6.2: Fix some links to the rocBLAS memory alloc API (#803)
  docs/howto/memory.rst
Labels: ci:docs-only

#816 Cherry-pick to release-staging/rocm-rel-6.3: Fix some links to the rocBLAS memory alloc API
  docs/howto/memory.rst
Labels: ci:docs-only

#819 Prevent bdsqr_estimate from rounding t to zero
  clients/common/lapack/testing_gesvd.hpp
  clients/gtest/lapack/gesvd_gtest.cpp
  library/src/auxiliary/rocauxiliary_bdsqr.hpp
Labels: noOptimizations
