Repository ROCm/rocSOLVER, pull requests merged in 2025-02, with the labels that each got.

#889 Cherry-pick to docs/6.3.2: Fix three broken links to rocBLAS and netlib
  docs/index.rst
  docs/reference/deprecated.rst
Labels: ci:docs-only, documentation

#888 Cherry-pick to release-staging/rocm-rel-6.4: Fix three broken links to rocBLAS and netlib (#887)
  docs/index.rst
  docs/reference/deprecated.rst
Labels: ci:docs-only, documentation

#865 Hybrid execution of sterf
  CHANGELOG.md
  clients/common/auxiliary/testing_sterf.hpp
  clients/common/lapack/testing_syev_heev.hpp
  clients/gtest/auxiliary/sterf_gtest.cpp
  clients/gtest/lapack/syev_heev_gtest.cpp
  library/include/rocsolver/rocsolver-extra-types.h
  library/include/rocsolver/rocsolver-functions.h
  library/src/auxiliary/rocauxiliary_bdsqr_hybrid.hpp
  library/src/auxiliary/rocauxiliary_sterf.hpp
  library/src/common/rocsolver_handle.cpp
  library/src/include/lapack_device_functions.hpp
  library/src/include/lib_device_helpers.hpp
  library/src/include/lib_host_helpers.hpp
  library/src/include/rocsolver_handle.hpp
  library/src/include/rocsolver_hybrid_storage.hpp
Labels: noOptimizations

#891 skip hipblasLT for static jobs
  .jenkins/common.groovy
Labels: ci:static-libraries

#892 Cherry-pick to docs/6.3.3.: Fix three broken links to rocBLAS and netlib (#887)
  docs/index.rst
  docs/reference/deprecated.rst
Labels: ci:docs-only, documentation

#894 Fix improper clang format
  library/src/auxiliary/rocauxiliary_stedc.hpp
  library/src/auxiliary/rocauxiliary_stedcj.hpp
  library/src/auxiliary/rocauxiliary_stedcx.hpp
Labels: noOptimizations
